<div class="reveal-modal-bg" style="display: block;" {{action "close" on="click"}}></div>
<div id="modal" class="reveal-modal visible">
  {{yield}}
  <a href="#" class="close-reveal-modal" {{action "close" on="click"}}>×</a>
</div>
