@import "vendor/foundation/scss/normalize.scss";
@import "vendor/foundation/scss/foundation.scss";
@import "vendor/ionicons/scss/ionicons.scss";

.content {
  padding: 20px;
  height: 100%;
}

body > .ember-view {
	height: 100%;
}

$line-height: 16px;
$task-height: 50px;

$line-container-height: $line-height + $task-height + 20px;

.line-container {
	width: 100%;
	height: $line-container-height;
}

.line {
	width: 100%;
	height: $line-height;
	background-color: lightgrey;
	text-align: right;
	line-height: $line-height;
	font-size: $line-height;
	cursor: move;
}

.task {
	float: left;
	margin-right: 10px;
	width: 100px;
	max-height: $task-height;
	border: solid 1px black;
	overflow: hidden;
	padding: 0px 3px;
}

.visible {
	visibility: visible;
	display: none;
	opacity: 1;
}

.dual-input-read {
	cursor: pointer;
}