@import "vendor/foundation/scss/normalize.scss";
@import "vendor/foundation/scss/foundation.scss";

.content {
  margin: 20px;
}

$line-height: 16px;
$task-height: 140px;

$line-container-height: $line-height + $task-height + 20px;

.line-container {
	width: 100%;
	height: $line-container-height;
}

.line {
	width: 100%;
	height: $line-height;
	background-color: lightgrey;
	text-align: right;
	line-height: $line-height;
	font-size: $line-height;
}

.task {
	float: left;
	margin-right: 10px;
	width: 150px;
	max-height: $task-height;
	border: solid 1px black;
	overflow: auto;
}
.task-header {
	margin: 0px 3px;
}
.task-body {
	font-size: 12px;
	margin: 0px 3px;
}

.visible {
	visibility: visible;
	display: none;
	opacity: 1;
}