{{#modal-em close="closeModal"}}
  <form {{action save on="submit"}}>
    <dl>
      <dt> Name: </dt>
      <dd> {{input value=name}} </dd>
    </dl>
    {{input type="submit" value="Save Changes"}}
  </form>    
{{/modal-em}}
