{{#modal-em close="closeModal"}}

  <div class="row">
    <h3>
      {{dual-input content=name edit='saveName'}}
    </h3>
  </div>

  <div class="row">
    <button class="button right alert small" {{action "delete"}}>Delete <i class="icon ion-trash-a"></i></button>
  </div>

{{/modal-em}}
