<ul>
  {{#each line in model}}
    <div class="line-container">
      <div class="line"><b>{{line.name}}</b></div>
      {{#each task in line.tasks}}
        <div class="task">
          {{task.title}} : {{task.description}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</ul>
