   
<div class="content">
  <ul>
    {{#each line in model}}
      <div class="line-container">
        <div class="line">
          {{#link-to "line.edit" line}}
            <b>{{line.name}}</b>
          {{/link-to}}
          <i>{{line.desc}}</i>
        </div>
        {{#each task in line.tasks}}
          <div class="task">
            {{#link-to "task" task}}
              <div class="task-header">
                {{task.title}}
              </div>
              <div class="task-body">
              </div>
            {{/link-to}}
          </div>
        {{/each}}
      </div>
    {{/each}}
  </ul>
</div>

{{outlet}}