{{#modal-em close="closeModal"}}

  <div class="row">
    <h3>
      {{dual-input content=title edit='saveTitle'}}
    </h3>
  </div>

  <div class="row">
    {{dual-input content=description edit='saveDescription' useMarkDown=true textAreaRows=10}}
  </div>

  <div class="row">
    {{input type="checkbox" name="isDone" checked=done}}
  </div>

  <div class="row">
    <button class="button right alert small" {{action "delete"}}>Delete <i class="icon ion-trash-a"></i></button>
  </div>

{{/modal-em}}
