<li>
  <a href="#" {{action createLine}}>+ New Line</a>
</li>

{{#if selectedLine}}
  <li>
    <a href="#">| {{selectedLine.name}} |</a>
  </li>
  <li>
    <a href="#" {{action createTask}}> + New Task </a>
  </li>
{{/if}}
